\* {
    box-sizing: border-box;
    margin: 0;
}

#header {
    background-color: #acc4ec;
    text-align: center;
    padding: 20px;
}

#nav {
    background-color: #9ba9c4;
}

#section {
    background-color: #d6d7dc;
    padding: 20px;
}

#section h2 {
    text-align: center;
}

#section pre {
    text-align: left;
}

#footer {
    background-color: #acc4ec;
    text-align: center;
    padding: 20px;
}

#nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0px 10px;
}
#nav ul li {
    float: left;
}

#nav ul li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: white;
}

#nav ul li.login-name {
    float: right;
}

/*#section table {*/
/*    margin: auto;*/
/*    border: 1px solid black;*/
/*}*/

/*#section table tr,th,td {*/
/*    padding: 5px;*/
/*    border: 1px solid black;*/
/*}*/

input {
    display: block;
    text-align: left;
}